*{
    margin: 0 auto;
}
.container{
    background-image: url(img/fon.jpg);
    background-size: 100%;
    height: 780px;
}
.cotainer1 {
    background-image: url(img/fon1.jpg);
    height: 780px;
}
.cotainer2 {
    background-image: url(img/fon3.jpg);
    height: 780px;  
}
a{
    text-decoration: none;
    color: black;
}
header{   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 3px black solid;
}
.logo_text {
    margin-top: 33px;
}
 .logo_mini{
     width: 100px;
     padding-left: 100px;
 }
 .text_logo_e {
     color: rgb(161, 229, 231);
}
.text_logo_t {
    color: rgb(170, 120, 194);
}
 nav{
     padding-right: 150px;
     margin-top: 22px;
 }
 .menu {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
.menu_list {
    list-style-type: none;
    padding: 25px;
}
.menu_list>a{
    color: black;
    padding: 25px;
}